<div class="box-white pt-3 pb-3">
    <div class="container-main">
        <div class="container-fluid">
            <div class="container">
                <div class="row justify-content-center d-flex" style="padding-top: 30px; padding-bottom: 30px;">
                    <div class="col-md-5 col-lg-4 col-12 pl-0">
                        <div class="bg-white form p-4">
                            <form [formGroup]="fm" *ngIf="fm">
                                <h2 class="color-primary font-weight-bold">Đăng nhập</h2>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input autocomplete="off" formControlName="email" required type="text"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="position-relative">
                                        <input autocomplete="off" formControlName="password" required [type]="type"
                                            class="form-control">
                                        <span (click)="type = type == 'password' ? 'text' : 'password'"
                                            id="basic-addon2">
                                            <i class="fa"
                                                [ngClass]="{'fa-eye': type=='password', 'fa-eye-slash': type=='text'}"
                                                style="position: absolute;top:10px; right: 17px; z-index: 99;cursor: pointer;"
                                                aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="d-flex w-100 justify-content-end align-items-center">
                                    <a class="mr-3 cursor-pointer" (click)="forget()" style="font-size: 12px;">Lấy lại mật khẩu?</a>
                                    <a href="javascript:;" [routerLink]="['/dang-ky']" class="mr-3 cursor-pointer" style="font-size: 12px;">
                                        {{ 'lblRegistration' | translate }}
                                    </a>
                                    <button type="button" (click)="onSubmit()" [disabled]="!fm.valid || !flag "
                                        class="btn float-right mr-2"
                                        [ngClass]="fm.valid  && flag ? 'btn-success' :'btn-defaut'">
                                        {{'FEBtn.sign_in' | translate}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>