<!-- <div class="title-new text-uppercase text-white">
  {{heading | translate}}
</div>
<div class="content-new p-3 cursor-pointer">
  <div *ngFor="let item of dataList; let i = index"
      [ngClass]="{'border-bottom mb-3 pb-3': i < dataList.length - 1}">
      <h3 class="mb-0">
          <a class="name"
              [routerLink]="['/'+(globals.language._language =='vn' ? '' : globals.language._language)+'/' + item.link]">{{item.name}}
          </a>
      </h3>
      <div class="date">{{item.date | date : 'dd/MM/yyyy'}} </div>
  </div>
</div> -->
<div class="related position-relative">
    <div class="title-new mb-3 mt-1 text-uppercase">
        {{ heading }}
    </div>
    <div class="rouded cursor-pointer">
        <div
            *ngFor="let item of dataList; let i = index"
            [ngClass]="{ 'border-bottom mb-3 pb-3': i < dataList.length - 1 }">
            <h3>
                <a
                    class="name"
                    [routerLink]="[
                        globals.language._language == 'vn'
                            ? '/' + item.link
                            : '/' + globals.language._language + '/' + item.link
                    ]"
                    >{{ item.name }}
                </a>
            </h3>
            <div class="date">{{ item.date | date: 'dd/MM/yyyy' }}</div>
        </div>
    </div>
</div>
