@import "src/styles/mixins";

.page-cart {
	min-height: 75vh;

	.step-cart {
		div > span {
			font-size: 12px;
		}

		&__item {
			z-index: 2;
		}

		&-icon {
			width: 40px;
			height: 40px;
			line-height: 36px;
			border: 2px solid transparent;

			z-index: 99;
		}

		&-line-left,
		&-line-right {
			position: absolute;
			bottom: 20px;

			width: 34%;
			height: 2px;

			z-index: 1;
		}

		&-line-left {
			left: calc((25% / 2) + 20px);
		}

		&-line-right {
			right: calc((25% / 2) + 20px);
		}
	}
}

.no-cart {
	&__img {
		width: 15.625rem;

		@include viewport-sm {
			width: 10.9375rem;
		}
	}

	&__title {
		@include viewport-sm {
			font-size: 0.875rem;
		}
	}

	&__btn {
		@include viewport-sm {
			display: block;
		}
	}
}

.loading {
	// background: #00000038;
	top: 0;
}

.images {
	width: 130px;

	&-order {
		width: 50px;
	}

	img,
	&-order img {
		max-width: 100%;
	}
}

// .name :hover {
// 	text-decoration: none;
// 	color: var(--color) !important;
// 	transition: 0.3s;
// }

.content {
	width: calc(100% - 130px);

	&-order {
		width: calc(100% - 50px);
	}
}

.description,
.description-order {
	width: 50%;
}

.price {
	font-size: 16px;
	color: var(--color);
}

.price-default {
    text-decoration: line-through;
    font-size: 0.875rem;
}

.group-input {
	display: flex;
	align-items: center;
	// -webkit-box-align: center;

	button {
		width: 32px;

		border: 1px solid #dee2e6;
		background-color: rgb(255, 255, 255);

		&:first-child {
			border-right: none;
			border-radius: 4px 0px 0px 4px;
		}

		&:last-child {
			right: 0;

			// border-left: none;
			border-radius: 0px 4px 4px 0px;
			border-left: 1px solid #dee2e6;
		}
	}

	button,
	input {
		height: 30px;
		outline: none;

		font-size: 14px;
		text-align: center;
		color: rgb(36, 36, 36);

		transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	}

	input {
		width: 75px;
		padding-right: 2rem!important;
		border: 1px solid #dee2e6;
	}
}

.value-final {
	font-size: 22px;
	font-weight: 400;
	text-align: right;
	color: rgb(254, 56, 52);
}

.nav-tabs .active {
	border-left: 4px solid var(--color);
	background-color: #f8f9fa;
}

.radio {
	display: table-cell;
	padding-right: 0.75em;

	white-space: nowrap;

	&-label {
		display: table-cell;
		width: 100%;
		vertical-align: middle;

		cursor: pointer;
	}
}

.input-radio {
	width: 18px;
	height: 18px;
}

.cart-total {
	position: sticky;
	top: 65px;
}

.form-control:focus {
	outline: none;
	box-shadow: none;
	border-color: var(--color-secondary);
}

.hr::after {
	content: '';
	display: inline-block;
	width: 100px;
	height: 1px;

	background-color: #e1e1e1;

	transform: translateY(3px);
}

@media (max-width: 415px) {
	.images {
		width: 65px;
	}

	.content {
		width: calc(100% - 65px);
	}

	.description {
		width: 100%;

		&-order {
			width: 65%;
		}
	}

	.input {
		padding-right: 30px !important;
		text-align: center!important;
	}
}

@media (max-width: 375px) {
	.btn-try {
		padding: 0 25px;
	}
}

.container-search {
	max-height: 226px;

	overflow: hidden auto;

	.dropdown-item:hover {
		color: #fff;
		background-color: #007bff;
	}
}

.icon-remove {
	top: 11px;
	right: 11px;
}
