@import 'src/styles/mixins';
@import 'src/styles/animations';

.box-content {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    height: 341px;
    background-color: white;
}

.box-content:hover {
    box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
}

.box-content:hover .images::before {
    animation: shine 1s;
}

.images::before {
    position: absolute;
    top: 0;
    left: -68%;
    z-index: 2;
    display: block;
    content: "";
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
}

.images, .images-horizontal {
    min-height: 150px;
    max-height: 100%;
    height: 130px;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.images a, .images-horizontal a {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.images img, .images-horizontal img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.title, .title-horizontal {
    color: #222;
    font-weight: 500;
    font-size: 16px;
    @include line-clamp(2);
}

.box-content:hover .title {
    color: var(--color-secondary);
    transition-delay: 0s
}

.images-horizontal {
    width: 145px;
}

.content-horizontal {
    width: calc(100% - 162px);
}

.title-horizontal {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.box-content:hover .title-horizontal {
    color: #222;
    transition-delay: 0s
}

.description-horizontal {
    @include line-clamp(3);
}

.group {
    font-size: 12px;
    color: var(--color-secondary) !important;
    font-weight: 500;
}

@media (max-width: 576px) {
    .images {
        min-height: 176px;
        height: 176px;
    }

    .images-horizontal {
        min-height: 120px;
        height: 120px;
        width: 120px;
    }

    .content-horizontal {
        width: calc(100% - 136px);
    }

    .title-horizontal {
        font-size: 16px;
    }
}

.rounded-top{
    border-top-right-radius: 15px!important;
    border-top-left-radius: 15px!important;
}

.rounded-bottom{
    border-bottom-right-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
}

.news-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}