<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>{{'user.titleChangePassword' | translate : {name : item.name } }}</strong>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>{{ 'user.password' | translate }}<span class="text-danger pl-2 font-lg">*</span></label>
                        <div class="position-relative w-100">
                            <input [type]="type" class="form-control" name="password" required
                                formControlName="password">
                            <span (click)="type = type == 'password' ? 'text' : 'password'" id="basic-addon2">
                                <i class="fa" [ngClass]="{'fa-eye': type=='password', 'fa-eye-slash': type=='text'}"
                                    style="position: absolute;top:10px; right: 17px; z-index: 99;cursor: pointer;"
                                    aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" (click)="onSubmit()" [disabled]="!fm.valid || !flags"
                        class="btn  float-right mr-2" [ngClass]="fm.valid && flags ? 'btn-success' :'btn-defaut'">
                        {{'btn.save' | translate}}
                    </button>
                    <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                        class="btn btn-primary float-right mr-2">{{ 'btn.back'| translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>