.is-active {
    color: var(--color-secondary) !important;
}

ul li {
    position: relative;
    padding: 0;
    z-index: 2;
}

ul li:hover a.level-1 {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-secondary) !important;
}

ul li a.level-1 {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    color: #011801;
    font-weight: 600;
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--color-secondary) !important;
        transition: 0.25s;
    }
}

ul li a.level-1 ul li a.level-1:first-child {
    padding-left: 0 !important;
}

ul li a.level-1:first-child {
    padding-left: 0px;
}

.navbar ul li:hover div.dropdown-menu-item {
    opacity: 1;
    transform: translateY(0) !important;
    visibility: visible;
    transition: all 0.5s;
}

.navbar ul li .dropdown-menu-item {
    position: absolute;
    top: 98%;
    left: 0;
    min-width: 200px !important;
    padding: 10px 0 !important;
    opacity: 0.5;
    z-index: 1;
    background-color: #fff !important;
    transform: translateY(-25px);
    visibility: hidden;
    box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 18%);
}

.navbar ul li .dropdown-menu-item li a {
    display: block;
    overflow: hidden;
    padding-right: 15px !important;
}

ul li div.dropdown-menu-item li.item-children-2:hover a.level-2,
ul li div.dropdown-menu-item li.item-children-2 div.dropdown-menu-item li:hover a.level-3,
ul li div.dropdown-menu-item li.item-children-2 div.dropdown-menu-item li div.dropdown-menu-item li:hover a.level-4 {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-secondary) !important;
}

ul li a.level-2 span,
ul li a.level-3 span,
ul li a.level-4 span {
    font-size: 16px;
    font-weight: 500;
}

ul li a.level-2 span::before,
ul li a.level-3 span::before,
ul li a.level-4 span::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 2px;
    background-color: var(--hover-text-color);
    vertical-align: middle;
    margin: -2px 5px 0 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    transform: translateX(-30px);
    visibility: hidden;
}

ul li a.level-2:hover span::before,
ul li a.level-3:hover span::before {
    transform: translateX(0) !important;
    visibility: visible;
}

ul li div.menu-item-child .item-children-2:hover div.menu-item-child {
    display: block;
    position: absolute;
    left: 100%;
    opacity: 1;
    padding: 10px 0 !important;
    top: -10px;
    visibility: visible;
    background-color: #fff !important;
    transform: translateY(0) !important;
}

ul li div.menu-item-child .item-children-2 div.menu-item-child {
    display: none;
    position: absolute;
    width: auto !important;
    padding: 10px 0px 20px 0px !important;
    opacity: 0.5;
    z-index: 1;
    background-color: #fff !important;
    transform: translateY(-30px);
    visibility: hidden;
}

ul li div.menu-item-child .item-children-2 div.menu-item-child .item-children-3 div.menu-item-child {
    display: none;
    position: absolute;
    width: auto !important;
    padding: 10px 0px 20px 0px !important;
    opacity: 0.5;
    z-index: 1;
    background-color: #fff !important;
    transform: translateY(-30px);
    visibility: hidden;
}

ul li div.menu-item-child .item-children-2 div.menu-item-child .item-children-3:hover div.menu-item-child {
    display: block;
    position: absolute;
    left: 100%;
    opacity: 1;
    padding: 10px 0 !important;
    top: -10px;
    visibility: visible;
    background-color: #fff !important;
    transform: translateY(0) !important;
}
