<div class="box-white pt-3 pb-3">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="pb-4 text-center text-error text-uppercase">{{ 'NotFound.title' | translate }}</div>
                    <h4 class="text-center">{{ 'NotFound.message' | translate }}</h4>
                    <div class="text-center pt-3 pb-5">
                        <a class="btn btn-outline-danger" [routerLink]="[ '/' ]"
                            style="outline: none; font-size: 16px;">
                            {{'NotFound.reHome' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>