<div class="bg-light">
    <div class="row ">
      
            <app-slide class="py-1 d-block"></app-slide>
    </div>
</div>

<div class="container-main py-2" style="background-color: rgb(255, 245, 232);">
    <div class="container-fluid">
        <div class="  row align-items-center">
            <!-- <div class="company col-12  col-md-4 d-flex flex-column justify-content-center align-items-center">
                        <h2> {{ 'FECompanyName' | translate }}
                        </h2>
                        <div class="d-flex justify-content-center align-items-center ml-2">
                            {{ 'FEDescription' | translate }}
                        </div>
                    </div> -->

            <div class="productCategory h-auto col-12  col-md-12  mt-4 pb-4">
                <h3 class="d-flex justify-content-center ">{{'FEProduct.category' | translate}}</h3>
                <div class=" flex-wrap  d-flex justify-content-between">
                    <div class=" category " dropdown triggers="hover" #dp="bs-dropdown"
                        *ngFor="let item of category.data" style="font-weight: 600;">
                        <a dropdownToggle routerLinkActive="active" class="ml-2 nav-link text-dark p-0">
                            <div class="d-flex flex-column  gap-3 align-items-center justify-content-center "
                                (mouseleave)="dp.hide()">
                                <div class="category-box" [routerLink]="['/san-pham/'+item.link]">
                                    <img class="mr-2 rounded " width="100px" height="100px"
                                        [defaultImage]="('FEIIconGroupproduct' | translate)" [lazyLoad]="item.icon"
                                        [title]="item.name" [alt]="item.name">
                                </div>
                                <span class="mt-1">{{item.name}}</span>
                                <i class="fas fa-angle-right color-primary" *ngIf="item.data.length > 0"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Danh sách sản phẩm -->
<div class="bg-white space">
    <div class="container-main">
        <div class="container-fluid">
            <div class="py-2">
                <div class="border-bottom border-primary  mb-3 d-flex align-items-center justify-content-center">
                    <h5 class="  title-text d-inline-flex text-nowrap p-2 mb-0 rounded-top ">
                        {{'FEHome.featured' | translate}}
                    </h5>

                </div>
                <div class="row px-2">
                    <div class="col-5 col-md-3 col-xl-2dot4 px-2 mb-3" *ngFor="let item of product.featured">
                        <app-box-product [item]="item"></app-box-product>
                    </div>
                </div>
                <div class="d-flex justify-content-end ">
                    <button class=" d-inline-flex align-items-center btn bg-white text-black border"
                        [routerLink]="['/san-pham/noi-bat']">
                        <span style="font-size: 16px;"> {{'FEHome.more' | translate}}</span>
                        <i class="fas fa-long-arrow-alt-right ml-2"></i>
                    </button>
                </div>
            </div>

            <div class="py-2">
                <div class="border-bottom border-primary  mb-3 d-flex align-items-center justify-content-center">
                    <h5 class=" text-black title-text d-inline-flex text-nowrap p-2 mb-0 rounded-top">
                        {{'FEHome.hot' | translate}}
                    </h5>

                </div>
                <div class="row px-2">
                    <div class="col-6 col-md-3 col-xl-2dot4 px-2 mb-3" *ngFor="let item of product.hot"
                        [ngClass]="{'d-none' : item.price == 0}">
                        <app-box-product [item]="item"></app-box-product>
                    </div>
                </div>
                <div class="d-flex justify-content-end ">
                    <button class=" d-inline-flex align-items-center btn bg-white text-black border"
                        [routerLink]="['/san-pham/ban-chay']">
                        <span style="font-size: 16px;"> {{'FEHome.more' | translate}}</span>
                        <i class="fas fa-long-arrow-alt-right ml-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="space" style="background-color: #126685ee;">
    <div class="container-main">
        <div class="container-fluid">
            <div class="py-2 d-flex-none justify-content-center">
                <app-banner class="py-1 d-block"></app-banner>
            </div>
        </div>
    </div>
</div>

<div class="place about-us position-relative" *ngIf="aboutUs.data.name && aboutUs.data.name.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="title position-relative pb-4">
                        <h2 class="font-weight-bold">{{ aboutUs.data.name }}</h2>
                        <div>{{ aboutUs.data.title }}</div>
                        <div class="bottom-dots">
                            <span class="dot line-dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                    </div>
                    <div [innerHTML]="aboutUs.data.detail | sanitizeHtml" class="truncate-about"></div>
                    <div class="pt-3 d-md-none">
                        <img [defaultImage]="aboutUs.data.image" style="max-width: 100%;"
                            [lazyLoad]="aboutUs.data.image" [title]="aboutUs.data.name" [alt]="aboutUs.data.name">
                    </div>
                    <a [routerLink]="[ '/' + aboutUs.data.link ]">
                        <div
                            class="view-more mt-md-5 mt-4 text-white d-inline-block text-uppercase position-relative font-weight-bold">
                            {{ 'FEHome.more' | translate }}
                            <i class="fas fa-angle-double-right"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 pl-md-0 d-none d-md-block">
                    <div class="about-images float-right">
                        <img class="img-fluid" [defaultImage]="aboutUs.data.image" [lazyLoad]="aboutUs.data.image"
                            [title]="aboutUs.data.name" [alt]="aboutUs.data.name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Tin tức -->
<div class="bg-white space">
    <div class="container-main">
        <div class="container-fluid">
            <div class="py-2">
                <div class="row align-items-end">
                    <div class="col-md-4">
                        <div class="col-md-12 text-right text-uppercase">
                            <p class="font-weight-bold">{{'FEHome.news' | translate}}</p>
                            <h3>{{'FEHome.hotnews' | translate}}</h3>
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        <button class="d-inline-flex align-items-center btn bg-white py-1 px-4 mb-0"
                            [routerLink]="['/tin-tuc']">
                            {{'FEHome.more' | translate}}
                            <i class="fas fa-long-arrow-alt-right ml-2"></i>
                        </button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5 col-lg-3 px-4 px-md-3" *ngFor="let item of news.data">
                        <app-box-content [item]="item"></app-box-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>