<div class="footer pt-lg-4 pb-lg-3 pt-3 pb-2">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-2dot4 col-md-4 col-6 d-flex justify-content-center">
                    <div class="box-footer">
                        <a style=" width: 118px;"
                            [routerLink]="'/' + (this.globals.language._language == 'vn' ? '' : 'en')"
                            class="logo-header">
                            <img *ngIf="globals.company && globals.company.logo" [src]="globals.company.logo"
                                [alt]="globals.company.name" class="img-fluid w-full h-full" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-2dot4 col-md-4 col-6">
                    <div class="box-footer">
                        <div class="title position-relative">
                            {{ 'FEFooter.productService' | translate }}
                        </div>
                        <div class="content mt-2" *ngFor="let item of service.data">
                            <a *ngIf="item.type && item.type == 1; else link_self" [href]="item.href"
                                [attr.target]="item.target_blank ? '_blank' : ''" rel="noopener noreferrer">
                                {{ item.name }}
                            </a>
                            <ng-template #link_self>
                                <a [routerLink]="['/' + item.href]">
                                    {{ item.name }}
                                </a>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 col-md-4 col-6 pt-4 pt-md-0">
                    <div class="box-footer">
                        <div class="title position-relative">{{ 'FEFooter.policy' | translate }}</div>
                        <div class="content mt-2" *ngFor="let item of content.data">
                            <a *ngIf="item.type && item.type == 1; else link_self" [href]="item.href"
                                [attr.target]="item.target_blank ? '_blank' : ''" rel="noopener noreferrer">
                                {{ item.name }}
                            </a>
                            <ng-template #link_self>
                                <a [routerLink]="['/' + item.href]">
                                    {{ item.name }}
                                </a>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 pt-4 pt-lg-0">
                    <div class="box-footer">
                        <div class="title position-relative">
                            {{ 'FEFooter.contact' | translate }}
                        </div>
                        <div class="pl-0 contact cursor-pointer" style="list-style: none">
                            <span class="footer-address">
                                <div class="my-1"><span>{{ 'FEFooter.address' | translate }}: </span>
                                    {{ 'FEAddress' | translate }}</div>
                            </span>
                            <a class="d-table-row my-1" *ngIf="
                                    ('FEHotline' | translate) != 'FEHotline' &&
                                    ('FEHotline' | translate) != ''
                                " href="tel:{{ 'FEHotline' | translate }}">
                                <span>{{ 'lblHotline' | translate }}:</span>
                                {{ 'FEHotline' | translate }}
                            </a>
                            <a class="my-1" *ngIf="
                                    ('FEMail' | translate) != 'FEMail' &&
                                    ('FEMail' | translate) != ''
                                " href="mailto:{{ 'FEMail' | translate }}">
                                <span>{{ 'lblEmail' | translate }}:</span>
                                {{ 'FEMail' | translate }}
                            </a>
                        </div>
                        <div class="footer_social d-md-flex align-items-center pt-3">
                            <a class="mr-3" target="_blank" [href]="'FEHrefFacebook' | translate"
                                *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook'" rel="noopener noreferrer">
                                <img src="/assets/img/icon/facebook.svg" width="10px" height="16px" alt="facebook" />
                            </a>
                            <!-- 
                            <a class="mr-3" target="_blank" [href]="'FEHrefTwitter' | translate"
                                *ngIf="('FEHrefTwitter' | translate) != 'FEHrefTwitter'" rel="noopener noreferrer">
                                <img src="/assets/img/icon/twitter.svg" width="16px" height="14px" alt="twitter" />
                            </a> -->
                            <a class="mr-3" target="_blank" [href]="'FEHrefZalo' | translate"
                                *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo'" rel="noopener noreferrer">
                                <img src="/assets/img/icon/in.svg" width="16px" height="16px" alt="linkedin" />
                            </a>
                            <a target="_blank" [href]="'FEHrefYoutube' | translate"
                                *ngIf="('FEHrefYoutube' | translate) != 'FEHrefYoutube'" rel="noopener noreferrer">
                                <img src="/assets/img/icon/youtube.svg" width="16px" height="12px" alt="youtube" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>