<!--  -->
<div class="bg-light py-md-5 py-3">
    <div class="container-main">
        <div class="container-fluid">
            <div class="title-page ">
                <div class="d-md-flex align-items-center justify-content-between">
                    <h4 class="mb-0 text-uppercase">{{ page.name }}</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                            <li class="breadcrumb-item " aria-current="page">
                                <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                    {{ 'lblHome' | translate }}
                                </a>
                            </li>
                            <li class="breadcrumb-item " aria-current="page">
                                <a [routerLink]="('/san-pham/')" routerLinkActive="is--active"
                                    [routerLinkActiveOptions]="{ exact: true }">
                                    {{ 'FEProduct.product' | translate }}
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="list-product" class="bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 d-none d-md-block">
                    <div class="card  rounded-0 border-0">
                        <ul class="pl-0 mb-0">
                            <li *ngFor="let item of categories;">
                                <div class="title p-3 d-flex justify-content-between"
                                    [routerLink]="['/san-pham/' + item.link ]" routerLinkActive="router-link-active"
                                    [ngClass]="{'active': collapsedMenu.includes(item.id) == false}"
                                    (click)="collapseMenu(item.id)">
                                    <div>{{item.name}}</div>
                                    <i class="fas" *ngIf="item.data && +item.data.length > 0"
                                        [ngClass]="{'fa-chevron-right': collapsedMenu.includes(item.id) == true ,'fa-chevron-down': collapsedMenu.includes(item.id) == false}"></i>
                                </div>
                                <ul class="pl-1" [collapse]="collapsedMenu.includes(item.id) == true"
                                    [isAnimated]="true">
                                    <li class="px-3 pb-3" *ngFor="let row of item.data;" style="overflow:hidden">
                                        <div class=" d-flex align-items-center justify-content-between"
                                            [routerLink]="['/san-pham/' + row.link ]"
                                            routerLinkActive="router-link-active">
                                            <div class="item-title ">
                                                {{row.name}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="card mt-2 rounded-0 border-0">
                        <ul class="pl-0 mb-0">
                            <li>
                                <div class="title p-3 d-flex justify-content-between">
                                    <div>{{'FEProduct.price' | translate}}</div>
                                </div>
                                <div class="card-body p-2">
                                    <ng5-slider (userChangeEnd)="onUserChangeEnd($event)" [(value)]="minValue"
                                        [(highValue)]="maxValue" [options]="options"></ng5-slider>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-9 pb-4">
                    <div class="d-flex justify-content-between align-items-center w-100 bg-white p-2 mb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div style="color: #595959" *ngIf="count > -1"  >
                                {{ 'FEProduct.count' | translate : { count : count } }}
                            </div>
                        </div>
                        <div class="d-none d-md-flex align-items-center justify-content-between">
                            <div *ngFor="let col of cwstable.cols; let i = index"
                                class="mr-md-3 d-flex align-items-center">
                                <span class="mr-1">{{ col.title | translate }}:</span>
                                <button (click)="cwstable._sorting(col.field, 'desc')"
                                    class="btn btn-sm rounded mr-2 border px-2 py-1">
                                    <i class="fas fa-sort-amount-down"></i>
                                </button>
                                <button (click)="cwstable._sorting(col.field, 'asc')"
                                    class="btn btn-sm border rounded px-2 py-1">
                                    <i class="fas fa-sort-amount-up"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="ListData" class="row px-2" *ngIf="show == 1">
                        <div class="col-lg-3 col-md-4 col-6 px-2 mb-4" *ngFor="let item of cwstable.data">
                            <app-box-product [item]="item"> </app-box-product>
                        </div>
                        <div class="col-12 text-center pt-4 pb-4" *ngIf="!cwstable.data || cwstable.data.length == 0">
                            <h4>{{'FEProduct.NotHaveProduct' | translate }}</h4>
                        </div>
                        <div class="col-12" *ngIf="cwstable.cached.length > Pagination.itemsPerPage">
                            <pagination [directionLinks]="false" class="d-flex justify-content-end pt-lg-4"
                                [totalItems]="cwstable.cached.length" [itemsPerPage]="Pagination.itemsPerPage"
                                [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.change($event)">
                            </pagination>
                        </div>
                    </div>
                    <div class="row" *ngIf="show == 0">
                        <div class="col-12 text-center pt-4 pb-4">
                            <h4>{{'FEProduct.NotHaveProduct' | translate }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #FilterMobile>
    <div id="mobile-filter" class=" position-fixed">
        <div class="bg position-absolute w-100 h-100" (click)="setMenuMobile(false)"></div>
        <div class="content h-100 w-75" style="background-color: whitesmoke;">
            <div class="card  rounded-0 border-0">
                <ul class="pl-0 mb-0">
                    <li *ngFor="let item of categories;">
                        <div class="d-flex justify-content-between align-items-center pr-2">
                            <div class="title p-3 d-flex justify-content-between" (click)="setMenuMobile(false)"
                                [routerLink]="['/san-pham/' + item.link ]" routerLinkActive="router-link-active"
                                [ngClass]="{'active': collapsedMenu.includes(item.id) == false}">
                                <img class="mr-2" width="20px" [defaultImage]="('FEIIconGroupproduct' | translate)"
                                    [lazyLoad]="item.icon" [title]="item.name" [alt]="item.name">
                                <div>{{item.name}}</div>
                            </div>
                            <i class="fas" *ngIf="item.data && +item.data.length > 0" (click)="collapseMenu(item.id)"
                                [ngClass]="{'fa-chevron-right': collapsedMenu.includes(item.id) == true ,
                                'fa-chevron-down': collapsedMenu.includes(item.id) == false}"></i>
                        </div>
                        <ul class="pl-1" [collapse]="collapsedMenu.includes(item.id) == true" [isAnimated]="true">
                            <li class="px-3 pb-3" *ngFor="let row of item.data;" style="overflow:hidden">
                                <div class=" d-flex align-items-center justify-content-between"
                                    (click)="setMenuMobile(false)" [routerLink]="['/san-pham/' + row.link ]"
                                    routerLinkActive="router-link-active">
                                    <div class="item-title ">
                                        {{row.name}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="card mt-2 rounded-0 border-0">
                <ul class="pl-0 mb-0">
                    <li>
                        <div class="title p-3 d-flex justify-content-between">
                            <div>{{'FEProduct.price' | translate}}</div>
                        </div>
                        <div class="card-body p-2">
                            <ng5-slider (userChangeEnd)="onUserChangeEnd($event)" [(value)]="minValue"
                                [(highValue)]="maxValue" [options]="options"></ng5-slider>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-template> -->