.place-contact {
    background-image: url(/assets/img/bg/contact.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.box-contact {
    box-shadow: 0 19px 40px rgb(157 174 185 / 15%);
    min-height: 190px;
    padding: 25px 20px 20px;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}

.box-contact>h6 {
    font-family: var(--font-secondary);
}

.form-group input {
    height: 47px;
}

.btn-submit {
    background-color: var(--color-secondary);
    color: #fff;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    border: none;
    font-weight: 500;
    font-size: 12px;
}

.box-address {
    box-shadow: 0 19px 40px rgb(157 174 185 / 31%);
    /* min-height: 190px; */
    border-left: 3px solid var(--color-secondary);
}

.box-address .title {
    font-size: 15px;
    font-weight: 500;
}

.box-address .address,
.contact li,
.contact li a {
    font-size: 12px;
    margin-top: 5px;
}


.box-footer .title {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 0.15px;
}

.box-footer .content a,
.box-footer .contact a {
    font-size: 15px;
    color: #dfe1e6;
    cursor: pointer;
    text-decoration: none;
}

.box-footer .content a:hover,
.box-footer .contact a:hover {
    color: var(--color-primary);
    animation-delay: 0s;
}